---
import { TagCard } from "../../components/TagsCard";
import Layout from "../../layouts/Layout.astro";
const allPosts = await Astro.glob("../posts/*.md");
const tags = [...new Set(allPosts.map((post) => post.frontmatter.tags).flat())];
---

<!-- Start Session Category -->
<section class="seesion bg-[#171717] pt-6 w-full h-auto">
  <div class="max-w-6xl mx-auto">    
    <h2 class="text-white text-center text-2xl md:text-4xl font-bold pb-10 pt-7">
      Session Category
    </h2>
    <p class="text-gray-500 text-center">
      one dollar and eighty-seven cents. that was all. and sixty cents of it
      was in pennies.
    </p>

    <div class="flex flex-wrap justify-center md:justify-start gap-y-5 sm:gap-x-3 py-4">
      {
        tags.map((tag) => (
          <TagCard>
            <label slot="tagName"><a href={`./tags/${tag}`}>{tag}</a></label>
            <p slot="tagDis">i get a lovely view of thei get a lovely view of thei get a lovely view of thei get a lovely view of thei get a lovely view of thei get a lovely view of the bay and a little private wharf belonging to the estate.</p>
            <label slot="tagSeeMore"><a href={`./tags/${tag}`}>{tag}</a></label>
          </TagCard> 
        ))
      }
    </div>
    
    <h2 class="text-white text-center pb-24">
      it had taken years to perfect and he could now do it without even
      putting any <span class="text-[#4136F1] font-semibold"
        >thought behind it.</span
      >
    </h2>
  </div>
</section>
