---
import Layout from "../layouts/Layout.astro";
import Home from "../components/Home.astro";
import Countdown from "../components/Countdown.astro";
import test from '../assets/img/coverContent/test.jpg';

const pageTitle ="DEV.X";
---

<Layout pageTitle={pageTitle}>
    <Countdown></Countdown>
    <Home></Home>  
    <div>
        <p style="color: red;">Local image stored at src/</p>
        <img src={test} />
        <p style="color: red;">Local image stored at public/</p>
        <img src="/assets/img/coverContent/test.jpg" />
    </div>
</Layout>