---
import { Speaker } from "../components/Speaker";
import { CardContent } from "../components/CardContent";
import { TagCard } from "../components/TagsCard";
---

<Speaker>
  <img slot="imgSpeaker" src="/assets/img/00.png" />
  <label slot="nameSpeaker">Testname </label>
  <label slot="roleSpeaker">DEV</label>
  </Speaker>
  
  <CardContent>
    <img slot="coverContent" src="/assets/img/1.jpg"/>
    <p slot="nameContent">Test Name Topic : Name</p>
    <img slot="imgSpeaker" src="/assets/img/00.png"/>
    <label slot="nameSpeaker">Titikorn Thongopas</label>
  </CardContent>

  <TagCard>
    <label slot="tagName">Topic Name</label>
    <p slot="tagDis">i get a lovely view of the bay and a little private wharf belonging to the estate.</p>
  </TagCard>



