---
import { CardContent } from "../components/CardContent";
const { title, url } = Astro.props;
---

<!-- <div class="pb-[72px] px-3">
  <div class="w-[317px]">
    <div class="card-list">
      <div class="card-item">
        <a href="#">
          <img
            class="rounded-xl w-full h-[472px] object-cover"
            src="/assets/img/1.jpg"
          />
          <div class="flex ml-3 space-x-4 mt-6">
            <img
              class="w-[30px] h-[30px] object-cover rounded-full"
              src="/assets/img/00.png"
              alt=""
            />
            <li class="text-white"><a href={url}>{title}</a></li>
          </div>
        </a>
      </div>
    </div>
  </div>
</div> -->

<div class="pb-[72px] flex flex-col justify-center items-center px-3">
  <CardContent>
    <img slot="coverContent" src="/assets/img/1.jpg"/>
    <p slot="nameContent">Test Name Topic : Name</p>
    <img slot="imgSpeaker" src="/assets/img/00.png"/>
    <label slot="nameSpeaker"><a href={url}>{title}</a></label>
  </CardContent>
</div>
