---
import { Speaker } from "../components/Speaker";
import Category from "../pages/tags/Category.astro";
import Schedule from "./Schedule.astro";

const allPosts = await Astro.glob("../pages/posts/*.md");
const tags = [...new Set(allPosts.map((post) => post.frontmatter.tags).flat())];
---

<section class="bg-[url('./assets/img/Hero.png')]">
  <div class="px-[3%] lg:px-[19%] h-full w-full min-h-screen relative grid grid-cols-1 gap-1 lg:grid-cols-2 lg:gap-2 items-center">
    <div>
        <img class="w-[300px] lg:w-[500px]" src="./assets/img/logo.png" alt=""/>
        <p class="md:w-full text-white text-sm md:text-xl font-Montserrat">
          You could see it in the clothes she
          <span class="text-[#4136F1] font-bold">wore that color</span> was an important
          part of her overall style.
        </p>
    </div>

    <div class="w-full">
        <img class="xl:max-w-4xl lg:max-w-[500px]" src="./assets/img/Image 282.png" alt="" />
    </div>   
  </div>

  <div class="flex justify-center pb-16">
    <button class="mx-auto block bg-gradient-to-r from-[#8743FF] to-[#4136F1] px-10 py-2 md:px-20 md:py-4 rounded-3xl">
      <a href="#" class="text-white">Get Start</a>
    </button>
  </div>
</section>


<!-- <div class="flex justify-center w-full h-auto bg-no-repeat bg-cover relative md:h-[65vh] lg:h-[95vh]">
  <div class="bg-[url('/assets/img/Hero.png')] opacity-50 absolute inset-0 h-full w-full"></div>
  <section class="hero max-w-6xl mx-auto px-4 relative">
    <div class="flex pt-0 md:pt-24">
      <div class="left text-white md:w-3/6 md:mt-12 lg:mt-20 pb-20">
        <div class="py-4">
          <img src="/assets/img/logo.png" alt=""/>
        </div>
        <p class="md:w-full text-xl pb-14 font-Montserrat">
          You could see it in the clothes she
          <span class="text-[#4136F1] font-bold">wore that color</span> was an important
          part of her overall style.
        </p>
      </div>
      <div class="right hidden text-white md:block md:w-3/5">
        <img src="/assets/img/Image 282.png" alt="" />
      </div>
    </div>
    
  </section>
  <div class="absolute bottom-0">
    <div class="relative pb-6 lg:pb-14">
      <button class="relative mx-auto block bg-gradient-to-r from-[#8743FF] to-[#4136F1] px-10 py-2 md:px-20 md:py-4 rounded-3xl">
        <a href="#" class="text-white">Get Start</a>
      </button>
    </div>
  </div>
</div> -->

<!-- End DEV.X -->

<!-- Start StoryTeller -->
<section class="story bg-contain w-fullh-auto opacity-100 bg-[url('/assets/img/Group99.png')] ">
  <div class="text-center w-full">
    <h2 class="text-[#4136F1] text-4xl md:text-7xl font-bold lg:text-9xl pb-20 pt-10 md:pt-0 font-Audiowide">
      SPEAKERS
    </h2>

    <div class="speaker lg:max-w-max max-w-none mx-auto grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-0">
      <!-- <div class="person1 px-2 pb-10">
        <img src="/assets/img/00.png" alt="person1" class="w-[210px] h-[330px] md:w-[332px] md:h-[440px] rounded-[160px] pb-4" />
        <h2 class="text-white font-medium text-center">AMELIA CHAMBEL</h2>
        <p class="text-gray-500 text-center">Front End Developer</p>
      </div> -->

      <div class="flex justify-center pb-10">
        <Speaker>
          <img slot="imgSpeaker" src="./assets/img/Rectangle 17027.png"/>
          <label slot="nameSpeaker">Chayut</label> 
          <!-- <label slot="nameSpeaker"><a href="./nameSpeaker">Chayut</a></label>           -->
          <label slot="roleSpeaker">CTO Developer</label>
        </Speaker>   
      </div>

      <div class="flex justify-center pb-10">
        <Speaker>
          <img slot="imgSpeaker" src="./assets/img/Rectangle 170266.png"/>
          <label slot="nameSpeaker">Titikorn & Theerapat</label>
         <label slot="roleSpeaker">Fonts-end Designer & Trainee Dev</label>
        </Speaker>   
      </div>

      <div class="flex justify-center pb-10">
        <Speaker>
          <img slot="imgSpeaker" src="./assets/img/Rectangle 17023.png"/>
          <label slot="nameSpeaker">Metee</label>
         <label slot="roleSpeaker">Back-end Developer</label>
        </Speaker>   
      </div>

      <div class="flex justify-center pb-10">
        <Speaker>
          <img slot="imgSpeaker" src="./assets/img/Rectangle 17025.png"/>
          <label slot="nameSpeaker">Karnchit</label>
         <label slot="roleSpeaker">Back-end Developer</label>
        </Speaker>   
      </div>
      <div class="flex justify-center pb-10">
        <Speaker>
          <img slot="imgSpeaker" src="./assets/img/Rectangle 17025.png"/>
          <label slot="nameSpeaker">Karnchit</label>
         <label slot="roleSpeaker">Back-end Developer</label>
        </Speaker>   
      </div>
    </div>
  </div>
</section>
<!-- components Schedule --> 
<Schedule/>

<!-- components Category -->
<Category/>





<!-- Start Heard the song -->
<!-- <section class="heard bg-[#000000] w-full h-auto">
  <div class="py-5 w-full h-[150px] md:w-[55%] mx-auto px-4">
    <h2 class="text-[#4136F1] text-5xl text-center md:text-7xl font-bold lg:text-8xl mb-6">
    Article
    </h2>
  </div>
</section>

<section class="title py-6 bg-[#000000] w-full h-auto">
  <div class="max-w-6xl mx-auto px-0">
    <div class="gap-4 sm:flex">
      <div class="title-1 h-auto w-2 bg-[url('/assets/img/010.png')] lg:w-[55%] bg-no-repeat bg-cover">
        <div class="card text-white">
          <div class="info flex flex-col justify-between">
            <h2 class="title pt-8 text-2xl pl-5">Title 01</h2>
            <div>
              <p class="pb-8 text-center">
                Patricia’s friend who was here hardly had any issues at all, but
                she wasn’t telling the truth. Yesterday, before she left to go
                home, she heard that her husband is in the hospital and
                pretended to be surprised.
              </p>
            </div>
            <div class="flex justify-between px-5 pb-5">
              <div class="flex">
                <img
                  class="w-7 h-6 rounded-full"
                  src="/assets/img/01.png"
                  alt=""
                />
                <h2 class="ml-3">Mr. Titikorn .T</h2>
              </div>
              <div>
                <p>07 Jan 2022</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="title-1 h-auto w-full bg-[url('/assets/img/011.png')] lg:w-[45%] bg-no-repeat bg-cover">
        <div class="card text-white">
          <div class="info flex flex-col justify-between">
            <h2 class="title pt-8 text-2xl pl-5">Title 02</h2>
            <div>
              <p class="pb-8 text-center">
                Patricia’s friend who was here hardly had any issues at all, but
                she wasn’t telling the truth. Yesterday, before she left to go
                home, she heard that her husband is in the hospital and
                pretended to be surprised.
              </p>
            </div>
            <div class="flex justify-between px-5 pb-5">
              <div class="flex">
                <img
                  class="w-7 h-6 rounded-full"
                  src="/assets/img/02.png"
                  alt=""
                />
                <h2 class="ml-3">Mr. Titikorn .T</h2>
              </div>
              <div>
                <p>07 Jan 2022</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="skill bg-[#000000] pb-16 w-full h-auto">
  <div class="max-w-6xl mx-auto px-0">
    <div class="pr-0 sm:pr-0 sm:flex gap-4">
      <div class="title-1 h-auto w-full bg-[url('/assets/img/013.png')] lg:w-[40%] bg-no-repeat bg-cover">
        <div class="card text-white">
          <div class="info flex flex-col justify-between">
            <h2 class="title pt-8 text-2xl pl-5">JAVA SCRIPT AND SOUND ETC</h2>
            <div>
              <p class="pb-8 text-center">
                Patricia’s friend who was here hardly had any issues at all, but
                she wasn’t telling the truth. Yesterday, before she left to go
                home, she heard that her husband is in the hospital and
                pretended to be surprised.
              </p>
            </div>
            <div class="flex justify-between px-5 pb-5">
              <div class="flex">
                <img
                  class="w-7 h-6 rounded-full"
                  src="/assets/img/03.png"
                  alt=""
                />
                <h2 class="ml-3">Mr. Titikorn .T</h2>
              </div>
              <div>
                <p>07 Jan 2022</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="title-1 h-auto w-full bg-[url('/assets/img/012.png')] lg:w-[60%] bg-no-repeat bg-cover">
        <div class="card text-white">
          <div class="info flex flex-col justify-between">
            <h2 class="title pt-8 text-2xl pl-5">JAVA SCRIPT AND SOUND ETC</h2>
            <div>
              <p class="pb-8 text-center">
                Patricias friend who was here hardly had any issues at all, but
                she wasnt telling the truth. Yesterday, before she left to go
                home, she heard that her husband is in the hospital and
                pretended to be surprised.
              </p>
            </div>
            <div class="flex justify-between px-5 pb-5">
              <div class="flex">
                <img
                  class="w-7 h-6 rounded-full"
                  src="/assets/img/04.png"
                  alt=""
                />
                <h2 class="ml-3">Mr. Titikorn .T</h2>
              </div>
              <div>
                <p>07 Jan 2022</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->

<footer class="bg-[#171717] w-full my-20">
  <div class="px-6 py-14 w-2/3 mx-auto font-Montserrat">
    <div class="md:flex md:items-center">
      <div class="text-center md:w-[60%] md:text-left">
        <h2 class="text-white mb-4 text-lg font-semibold">
          THAT WASNT TO SAY THAT HE HADNT DISAPPOINTED OTHERS.
        </h2>
        <p class="text-white">
          the fact was that he had disappointed a lot of people who were close
          to him. the fact that they were disappointed in him was <span
            class="text-[#4136F1] font-semibold">something</span> that made him even more <span class="text-[#4136F1] font-semibold">disappointed</span> in himself.
        </p>
      </div>
      <div class="text-center mx-auto mt-8 border-2 border-[#8042FB] rounded-md w-full md:w-64 py-2 md:mt-0 md:h-[45px]">
        <a class="text-[#8042FB]" href="#">Get Start</a>
      </div>
    </div>
  </div>
</footer>

<style>
  @media only screen and (max-width: 1380px) {
    .speaker {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  }

  @media only screen and (max-width: 1040px) {
    .speaker {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }

  @media only screen and (max-width: 700px) {
    .speaker {
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }
  }

  .info {
    position: relative;
    width: 100%;
    height: 400px;
    background-color: rgba(194, 0, 0, 0.3);
    transform: translateY(100%) translateY(-88px) translateZ(0);
    transition: transform 0.5s ease-out;
  }

  .card {
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    min-height: 400px;
    overflow: hidden;
    /* background-image: url(https://source.unsplash.com/collection/905011/1000x1000); */
    background-size: cover;
  }

  .info {
    position: relative;
    width: 100%;
    height: 400px;
    background-color: rgba(201, 201, 201, 0.3);
    transform: translateY(100%) translateY(-88px) translateZ(0);
    transition: transform 0.5s ease-out;
  }

  .info:before {
    z-index: -1;
    display: block;
    position: absolute;
    content: " ";
    width: 100%;
    height: 100%;
    overflow: hidden;
    filter: blur(10px);
    background-size: cover;
    opacity: 0.25;
    transform: translateY(-100%) translateY(88px) translateZ(0);
    transition: transform 0.5s ease-out;
  }

  .card:hover .info,
  .card:hover .info:before {
    transform: translateY(0) translateZ(0);
  }
</style>