<section class="background bg-[url('/assets/img/bryan-goff-f7YQo-eYHdM-unsplash.jpg')] w-full bg-no-repeat bg-cover">
  <!-- <div class="max-w-6xl mx-auto py-24 text-center text-white text-sm md:text-lg font-Montserrat">
    <h2 class="text-5xl pb-8">SCHEDULE DEV.X DAY1</h2>
    <p class="text-xl text-[#A272FF] pb-14">Dev.X Day1 : NARITA TOWN Floors 7 , 9 February 2023 01.00 PA</p>
    <div class="flex justify-center w-full border border-[#BC96FF] rounded-[10px] h-auto mb-[24px]">
        <div class="flex flex-col justify-center items-center text-white rounded-l-[10px] bg-[#8743FF] w-1/2 md:w-1/5 h-auto">
            <h1 class="text-xl md:text-3xl">13:00</h1>
            <p>( 01.00 PM )</p>
        </div>
        <div class="text-white w-full py-3 px-2 text-center h-auto">
            <span class="text-white">Data visualization is the representation of data through use of common graphics, such as charts, plots, infographics, and even animations. These visual displays of information communicate complex data relationships and data-driven insights in a way that is easy to understand.</span>
            <p class="text-[#BA93FF] font-bold text-xl">Dome</p>
        </div>
    </div>

    <div class="flex w-full border border-[#BC96FF] rounded-[10px] h-auto mb-[24px]">
      <div class="flex flex-col justify-center items-center text-white rounded-l-[10px] bg-[#8743FF] w-1/2 md:w-1/5 h-auto">
          <h1 class="text-xl md:text-3xl">15:00</h1>
          <p>( 03.00 PM )</p>
      </div>
      <div class="text-white w-full py-3 px-2 text-center">
          <span class="text-white">JAMSTACK : Jamstack is an architectural approach that decouples the web experience layer from data and business logic, improving flexibility, scalability, performance, and maintainability</span>
          <p class="text-[#BA93FF] font-bold text-xl">Korn + Dell</p>
      </div>
    </div>

    <div class="flex w-full border border-[#BC96FF] rounded-[10px] h-auto mb-[24px]">
      <div class="flex flex-col justify-center items-center text-white rounded-l-[10px] bg-[#8743FF] w-1/2 md:w-1/5 h-auto">
          <h1 class="text-xl md:text-3xl">16:00</h1>
          <p>( 04.00 PM )</p>
      </div>
      <div class="text-white w-full py-3 px-2 text-center">
          <span class="text-white">It was their first date and she had been looking forward to it the entire week.</span>
          <p class="text-[#BA93FF] font-bold text-xl">Meng</p>
      </div>
    </div>

    <div class="flex w-full border border-[#BC96FF] rounded-[10px] h-auto mb-[24px]">
      <div class="flex flex-col justify-center items-center text-white rounded-l-[10px] bg-[#8743FF] w-1/2 md:w-1/5 h-auto">
          <h1 class="text-xl md:text-3xl">17:00</h1>
          <p>( 05.00 PM )</p>
      </div>
      <div class="text-white w-full py-3 px-2 text-center">
          <span class="text-white">The spot was perfect for camouflage. At least that’s what she thought when she picked the spot. She couldn’t imagine that anyone would ever be able to see her in these surroundings. So there she sat, confident that she was hidden from the world and safe from danger. Unfortunately, she had not anticipated that others may be looking upon her from other angles, and now they were stealthily descending toward her hiding spot.</span>
          <p class="text-[#BA93FF] font-bold text-xl">Boss</p>
      </div>
    </div>

    <div class="flex w-full border border-[#BC96FF] rounded-[10px] h-auto mb-[24px]">
      <div class="flex flex-col justify-center items-center text-white rounded-l-[10px] bg-[#8743FF] w-1/2 md:w-1/5 h-auto">
          <h1 class="text-xl md:text-3xl">18:00</h1>
          <p>( 06.00 PM )</p>
      </div>
      <div class="text-white w-full py-3 px-2 text-center">
          <span class="text-white">Was it a whisper or was it the wind? He wasn’t quite sure. He thought he heard a voice but at this moment all he could hear was the wind rustling the leaves of the trees all around him.</span>
          <p class="text-[#BA93FF] font-bold text-xl">Tar</p>
      </div>
    </div>
  </div> -->


  <div class="max-w-6xl mx-auto py-24 text-center text-white text-sm md:text-lg font-Montserrat">
    <h2 class="text-5xl pb-8">SCHEDULE DEV.X DAY2</h2>
    <p class="text-xl text-[#A272FF] pb-14">Dev.X Day2 : NARITA TOWN Floors 7 , 16 February 2023 13.00 PA</p>
    <!-- Schedule -->
    <div class="flex justify-center w-full border border-[#BC96FF] rounded-[10px] h-auto mb-[24px]">
        <div class="flex flex-col justify-center items-center text-white rounded-l-[10px] bg-[#8743FF] w-1/2 md:w-1/5 h-auto">
            <h1 class="text-xl md:text-3xl">13:00</h1>
            <p>( 01.00 PM )</p>
        </div>
        <div class="text-white w-full py-3 px-2 text-center h-auto">
            <span class="text-white">Data visualization is the representation of data through use of common graphics, such as charts, plots, infographics, and even animations. These visual displays of information communicate complex data relationships and data-driven insights in a way that is easy to understand.</span>
            <p class="text-[#BA93FF] font-bold text-xl">Dome</p>
        </div>
    </div>

    <div class="flex w-full border border-[#BC96FF] rounded-[10px] h-auto mb-[24px]">
      <div class="flex flex-col justify-center items-center text-white rounded-l-[10px] bg-[#8743FF] w-1/2 md:w-1/5 h-auto">
          <h1 class="text-xl md:text-3xl">15:00</h1>
          <p>( 03.00 PM )</p>
      </div>
      <div class="text-white w-full py-3 px-2 text-center">
          <span class="text-white">RxJS ajax() operator is a creation operator used to create an observable for an Ajax request with either a request object with url, headers, etc. or a string for a URL. In other words, we can say that the RxJS ajax() operator makes an ajax request for the given url.</span>
          <p class="text-[#BA93FF] font-bold text-xl">Pleum</p>
      </div>
    </div>

    <div class="flex w-full border border-[#BC96FF] rounded-[10px] h-auto mb-[24px]">
      <div class="flex flex-col justify-center items-center text-white rounded-l-[10px] bg-[#8743FF] w-1/2 md:w-1/5 h-auto">
          <h1 class="text-xl md:text-3xl">16:00</h1>
          <p>( 04.00 PM )</p>
      </div>
      <div class="text-white w-full py-3 px-2 text-center">
          <span class="text-white">Get to know more about the defensive side like Observer and Subscriber. Including getting to know the consumer what it is How does it relate to the Observer and how can we use it?</span>
          <p class="text-[#BA93FF] font-bold text-xl">Pang</p>
      </div>
    </div>

    <div class="flex w-full border border-[#BC96FF] rounded-[10px] h-auto mb-[24px]">
      <div class="flex flex-col justify-center items-center text-white rounded-l-[10px] bg-[#8743FF] w-1/2 md:w-1/5 h-auto">
          <h1 class="text-xl md:text-3xl">17:00</h1>
          <p>( 05.00 PM )</p>
      </div>
      <div class="text-white w-full py-3 px-2 text-center">
          <span class="text-white">We will talk about why you need to clean your code, the best practices for clean and performant Angular applications. We’ll also go through some general coding guidelines to ensure the application is cleaner. </span>
          <p class="text-[#BA93FF] font-bold text-xl">Max</p>
      </div>
    </div>

    <div class="flex w-full border border-[#BC96FF] rounded-[10px] h-auto mb-[24px]">
      <div class="flex flex-col justify-center items-center text-white rounded-l-[10px] bg-[#8743FF] w-1/2 md:w-1/5 h-auto">
          <h1 class="text-xl md:text-3xl">18:00</h1>
          <p>( 06.00 PM )</p>
      </div>
      <div class="text-white w-full py-3 px-2 text-center">
          <span class="text-white">AngularJS 15 introduces a new API system to make it easier for developers to use the modules. This is a major change, as the previous version of Angular had no built-in support for modules, and now they are used out of the box. The new API system has been designed to allow developers to use the packages easily.</span>
          <p class="text-[#BA93FF] font-bold text-xl">Ree</p>
      </div>
    </div>

    <div class="flex w-full border border-[#BC96FF] rounded-[10px] h-auto mb-[24px]">
      <div class="flex flex-col justify-center items-center text-white rounded-l-[10px] bg-[#8743FF] w-1/2 md:w-1/5 h-auto">
          <h1 class="text-xl md:text-3xl">19:00</h1>
          <p>( 07.00 PM )</p>
      </div>
      <div class="text-white w-full py-3 px-2 text-center">
          <span class="text-white">With the introduction of Web Components, it becomes easy to solve this problem and to create reusable HTML components.

            In this article, we'll learn about Web Components in-depth, the easiest way to create custom HTML elements.</span>
          <p class="text-[#BA93FF] font-bold text-xl">Knight</p>
      </div>
    </div>
  </div>
</section>