<section class="background bg-[url('/assets/img/galax-4.png')] w-full h-auto bg-no-repeat bg-cover">
  <div class="max-w-6xl mx-auto px-4">
    <h2 class="text-white text-center text-5xl">SCHEDULE DEV.X DAY1</h2>
    <p>Dev.X Day1 : NARITA TOWN Floors 7 , 9 February 2023 01.00 PA</p>
    <!-- Slides -->
    <div class="h-auto ">

    </div>

    <!-- End Slide -->
    <div class="text-white text-center py-4">
      <h2 class="text-3xl font-bold">DEV.X 01</h2>
      <h2 class="text-3xl font-bold">INTRO TO DEV.X</h2>
    </div>
    <div class="pt-5 pb-20">
      <p class="text-gray-500 text-center">
        Patricia’s friend who was here hardly had any issues at all, but she
        wasn’t telling the truth. Yesterday, before she left to go home, she
        heard that her husband is in the hospital and pretended to be surprised.
      </p>
    </div>
  </div>
</section>